@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Karla|Raleway');

html {
  scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Karla', sans-serif;
    font-size: 115%;
	text-align: center;
}

h1, h2, h3, h4, h5, .address, .amount {
    font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

#atention {
	color: #be0a2f;
}

#content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1600px;
    text-align: justify;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

#footer {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    max-width: 700px;
    width:80%;
}

#logo {
    width: 200px;
    height: 200px;
}



a {
    all: inherit;
    cursor: pointer;
    display: inline;
    color: #262b44;
    text-decoration: underline;
}

a.nohighlight {
    text-decoration: none;
}

/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }

td[contenteditable='true'] {
    width: 50px;
    background: #D6EAF8;
}

td[id] {
    text-align: right;
}

.tdcomment {
  border :none;
}

.results {
    border-top: 5px solid #ccc;
}

#messages {
    border: none;    
}

#messages .warning {
    color: #ee7600;
}

#messages .error {
    color: #cc0000;
}

#compare {
    margin-bottom: 40px;
}

#compare td:not(:first-child), th:not(:first-child) {
    text-align:center;
    padding:0 0 0 50px;
}

.center {
    text-align: center;
}

pre {
  display: block;
  white-space: pre-wrap   
}

.faq-q {
    font-weight: bold;
    margin-bottom: 1em;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: square;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}

.faq-a {
    margin-bottom: 1.5em;
}

.no-warranty {
    color: red;
    font-weight: bold;
}

#chicagoheader {
    background-image: url('');
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -500;
    top: 0;
    background-size: cover;
}

.home-hero {
  background-image: url('point.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: bottom;
  padding: 10em 0;
  z-index: -500;
  color: #FFF;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

/* buttons */

.button {
  background-color: #6989e9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 35%;
  margin-right: 35%;
  cursor: pointer;
  align-content: center;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
}

@media (max-width: 600px) {
	.button {
  		margin-left: 15%;
  		margin-right: 15%;
	}

}

.button a {
    all: inherit;
    cursor: pointer;
    display: ;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* hero-home
=================== */

.home-hero {
	background-image: url(point.png);
	background-size: cover;
	background-position: bottom;
	padding: 10em 0;
	color: #FFF;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}


/* hero-home
=================== */

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #0054B0;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #0054B0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

.info {
	z-index: 2;
}

#container4 {
	padding-bottom: 10px;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}

	#container4 {
		padding-bottom: 10px;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url(../img/wallpaper.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.9;
	}


	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


}
 

/* CTA
=================== */

.cta {
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 5em 0;
	color: #FFF;
}


/*CONTACT*/
#contact {
  background-color: #1d1d1d;
  height: auto;
  color: white;
  margin-bottom: 0px;
}
#contact a {
  color: white;
  cursor: pointer;
}
.contact-link {
  font-size: 27px;
  color: black;
}

@media (max-width: 600px) {
	#contact a {
  		color: white;
  		cursor: pointer;
  		font-size: 17px;
  		align-content: center;
	}

}
	



valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%!important;
}


section{
  position: relative;
  min-height: 300px;
  padding: 100px;
  overflow: hidden;
  text-align: center;
}
